ICON_0 RCDATA "ICONS\\ICON_0.ico"
ICON_1 RCDATA "ICONS\\ICON_1.ico"
ICON_2 RCDATA "ICONS\\ICON_2.ico"
ICON_3 RCDATA "ICONS\\ICON_3.ico"
ICON_4 RCDATA "ICONS\\ICON_4.ico"
ICON_5 RCDATA "ICONS\\ICON_5.ico"
ICON_6 RCDATA "ICONS\\ICON_6.ico"
ICON_7 RCDATA "ICONS\\ICON_7.ico"
ICON_8 RCDATA "ICONS\\ICON_8.ico"
ICON_9 RCDATA "ICONS\\ICON_9.ico"
Icon_10 RCDATA "ICONS\\ICON_10.ico"
